@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to top, #e1fdff 0%, #ffebe9 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.button_energetic {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
}

.button_gloomy {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
}

.button_anger {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}

.button_serenity {
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
}

.btn_energetic {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(31, 31, 31);
    font-family: 'GangwonEdu_OTFBoldA';
    font-weight: 700;
    font-size: 1.2rem;
    background-color: rgb(255, 254, 213);
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn_energetic span {
    position: relative;
    z-index: 1;

}

.btn_energetic:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #fffcf5;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn_energetic:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.btn_gloomy {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(31, 31, 31);
    font-family: 'GangwonEdu_OTFBoldA';
    font-weight: 700;
    font-size: 1.2rem;
    background-color: rgb(210, 254, 255);
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn_gloomy span {
    position: relative;
    z-index: 1;
}

.btn_gloomy:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #fffcf5;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn_gloomy:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.btn_anger {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(31, 31, 31);
    font-family: 'GangwonEdu_OTFBoldA';
    font-weight: 700;
    font-size: 1.2rem;
    background-color: rgb(255, 195, 195);
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn_anger span {
    position: relative;
    z-index: 1;
}

.btn_anger:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #fffcf5;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn_anger:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.btn_serenity {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(31, 31, 31);
    font-family: 'GangwonEdu_OTFBoldA';
    font-weight: 700;
    font-size: 1.2rem;
    background-color: rgb(196, 255, 226);
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn_serenity span {
    position: relative;
    z-index: 1;
}

.btn_serenity:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #fffcf5;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn_serenity:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}


.link {
    font-size: 20px;
    margin-top: 30px;
}

.link a {
    color: #000;
    font-size: 25px;
}